#navbarMobile {
  padding-top: 3rem;
  align-items: center;
  text-align: center;
  font-family: "Exo", sans-serif;
}

#navbarMobile .menu {
  color: #fff;
  width: 3rem;
}

#navbarMobile .botaoMenu {
  margin-left: 1rem;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (min-width: 769px) {
  #navbarMobile {
    display: none;
  }
}
