#apresentacao {
  background: #f7f7f7;
  font-family: "Exo 2", sans-serif;
  color: #1e2022;
  position: relative;
}

#apresentacao .texto {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

#apresentacao .texto h3 {
  font-weight: 700;
  font-size: 2.5rem;
  font-style: italic;
  background: -webkit-linear-gradient(#07daff, #00cd88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#apresentacao .texto h3:hover {
  background: linear-gradient(#07daff, #00cd88);
  background: -webkit-linear-gradient(#07daff, #00cd88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#apresentacao .texto span {
  font-weight: 600;
}

#apresentacao .texto p {
  font-size: 1.7rem;
  padding-top: 1rem;
  font-weight: 400;
}

#apresentacao .card {
  background: linear-gradient(112.06deg, #022a38 21.04%, #0a5771 141.17%);
  border-radius: 20px;
  width: 100%;
  color: #fff;
  padding: 5rem 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
  flex-direction: row;
}

#apresentacao .card .n1 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#apresentacao .card .n1 h5 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

#apresentacao .card .n1 p {
  font-size: 1.1rem;
}

#apresentacao .card .n1 img {
  width: 25%;
  margin: auto;
}

@media screen and (min-width: 459px) and (max-width: 767px) {
  #apresentacao .descricao p {
    font-size: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 458px) {
  #apresentacao .descricao p {
    font-size: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 359px) {
  #apresentacao .texto p {
    font-size: 1.2rem;
  }

  #apresentacao .descricao p {
    font-size: 1.2rem;
  }
}
