#materiais {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: "Exo 2", sans-serif;
}

#materiais h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

#materiais p {
  font-size: 1.3rem;
  font-weight: 400;
}

#materiais .cards {
  display: flex;
}

#materiais .card {
  cursor: pointer;
  padding: 0rem;
  margin: 2rem;
  background: linear-gradient(97.7deg, #1e2022 0.18%, #032b39 66.43%);
  border-radius: 10px;
  color: #fff;
}

#materiais .card:first-child {
  margin-left: 0;
}

#materiais .card p {
  padding: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #materiais .cards .card {
    margin: 8rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  #materiais .cards .card {
    margin: 1rem;
  }

  #materiais .card p {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #materiais .cards {
    flex-direction: column;
  }

  #materiais .card {
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #materiais .cards {
    flex-direction: column;
  }

  #materiais .card {
    margin: 3rem;
  }
}

@media screen and (max-width: 359px) {
  #materiais .card {
    margin: 1rem;
  }
}

@media screen and (max-width: 458px) {
  #materiais .card:first-child {
    margin-left: 3rem;
  }
}
