#infografico {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: "Exo 2", sans-serif;
}

#infografico .cardInfo {
  background: #012b39;
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 4rem;
}

#infografico .cardInfo h3 {
  background: -webkit-linear-gradient(#07daff, #00cd88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 1px solid #07daff;
  padding-bottom: 1rem;
}

#infografico .cardInfo p {
  font-size: 1.4rem;
  padding-top: 3rem;
  font-weight: 400;
}

#infografico .card {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#infografico .iconeBorda {
  background: linear-gradient(#07daff, #00cd88);
}

#infografico .icone {
  background: #012b39;
  border: 1px solid #07daff;
  padding: 3rem;
  width: 80%;
  border-radius: 100%;
  text-align: center;
}

#infografico .icone:hover {
  background: linear-gradient(#07daff, #00cd88);
}

#infografico .icone img {
  width: 80%;
}

#infografico .texto p {
  padding: 0;
  padding-right: 8rem;
  font-size: 1.3rem;
  margin: 0;
}

#infografico .texto h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  #infografico .icone {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    padding: 4rem;
  }

  #infografico .card img {
    width: 80%;
  }

  #infografico .texto h4 {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 459px) and (max-width: 767px) {
  #infografico .texto p {
    padding: 0;
    font-size: 1.3rem;
  }

  #infografico img {
    width: 50%;
    padding-bottom: 1rem;
  }

  #infografico .icone {
    width: 50%;
  }

  #infografico .card img {
    width: 50%;
  }

  #infografico .texto h4 {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 458px) {
  #infografico .cardInfo {
    padding: 2rem 1.5rem;
    padding-top: 2rem;
  }

  #infografico .cardInfo p {
    font-size: 1.2rem;
  }

  #infografico .texto p {
    padding: 0;
    font-size: 1.1rem;
  }

  #infografico .texto h4 {
    margin-top: 1rem;
  }

  #infografico .icone {
    width: 40%;
  }

  #infografico .card img {
    width: 70%;
  }
}

@media screen and (max-width: 360px) {
  #infografico .texto h4 {
    margin-top: 1rem;
  }

  #infografico .icone {
    width: 60%;
  }

  #infografico .card img {
    width: 100%;
  }
}
