#main {
  background: radial-gradient(
    95.09% 95.09% at 50% 14.68%,
    #0a4659 0%,
    #002633 100%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Exo", sans-serif;
  position: relative;
  z-index: 1;
}

#main .texto {
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 1;
}

#main .tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}

#main .texto h1 {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 400;
}

#main .texto p {
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}

#main .texto span {
  background: -webkit-linear-gradient(#03e7ff, #00cd88);
  -webkit-background-clip: text;
  font-style: italic;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 458px) {
  #main .texto h1 {
    font-size: 3rem;
  }

  #main .texto p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 359px) {
  #main .texto h1 {
    font-size: 2rem;
  }

  #main .texto p {
    font-size: 1.2rem;
  }
}
