#navbar {
  font-family: "Exo", sans-serif;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 1;
}

#navbar .links a {
  padding-left: 2rem;
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  #navbar .links a {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
}
