#business {
  font-family: "Exo 2", sans-serif;
}

#business .tituloBusiness {
  text-align: left;
  padding-top: 5rem;
}

#business .tituloBusiness h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

#business .tituloBusiness p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

#business .titulo {
  text-align: center;
  padding-top: 5rem;
}

#business .titulo h3 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 500;
}

#business .titulo p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  padding-top: 1rem;
}

#business .imagem {
  padding-top: 2rem;
}

#business .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#business .cards .card {
  padding-right: 8rem;
}

#business .cards .card .titulo {
  display: flex;
  justify-content: space-between;
}

#business .cards .card .titulo h5 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

#business .cards .card .titulo img {
  width: 8%;
  height: 8%;
}

#business .cards .card .texto {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

#business .cards .card .texto p {
  font-size: 1.2rem;
  font-weight: 400;
}

#business .cards .card .botao {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
}

#business .cards .card .botao:hover {
  background: -webkit-linear-gradient(#07daff, #00cd88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00cd88;
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  #business .cards {
    display: flex;
    flex-direction: column;
  }

  #business .cards .card {
    padding: 2rem 15rem;
  }

  #business .cards .card .botao {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #business .cards {
    flex-direction: column;
    width: 600px;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  #business .cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 359px) {
  #business .cards .card .botao {
    font-size: 1rem;
  }
}

@media screen and (min-width: 459px) and (max-width: 767px) {
  #business .tituloBusiness h3 {
    font-size: 2rem;
  }

  #business .tituloBusiness p {
    font-size: 1.3rem;
  }

  #business .cards .card {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 458px) {
  #business .tituloBusiness h3 {
    font-size: 2rem;
  }

  #business .tituloBusiness p {
    font-size: 1.3rem;
  }

  #business .cards .card {
    padding: 2rem 1rem;
  }
}
